@import "~rfs/scss";

@tailwind base;

body {
  @apply bg-gray-light;
  @apply dark:bg-gray-dark;
  font-size: 11pt;
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: hidden;
}

h1, .h1 {
  @apply font-mono;
  @apply my-4;
  @apply font-medium;
  @include font-size(3rem);
}

h2, .h2 {
  @apply font-mono;
  @apply my-4;
  @apply font-medium;
  @include font-size(2.25rem);
}

h3, .h3 {
  line-height: 1.1;
  @apply font-mono;
  @apply my-4;
  @apply font-medium;
  @include font-size(1.875rem);
}

h4, .h4 {
  @apply font-mono;
  @apply my-4;
  @apply font-medium;
  @include font-size(1.5rem);
}

h5, .h5 {
  @apply font-mono;
  @apply my-4;
  @apply font-medium;
  @include font-size(1.25rem);
}

h6, .h6 {
  @apply font-mono;
  @apply font-medium;
  @include font-size(10pt);
}

.big-font {
  font-size: 100pt;
  font-weight: bold;
}

@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-screen-xl;
  @apply px-0;
}

.fade-enter-active,
.fade-leave-active {
  @apply transition-all;
  @apply duration-200;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
